.react-card-front {
    background-color: silver;
    border-radius: 30px;
    border: black double;
    /*height: 200px;*/
    /*width: 140px;*/
}

.paddingTop{
    padding-top: 20%;
}

.react-card-back {
    background-color: #0080C7;
    border-radius: 30px;
    border: black double;
    /*height: 200px;*/
    /*width: 140px;*/
}

.react-card-flipper {
    /*padding: 25px;*/
    /*margin: auto;*/
    /*width: 50%;*/
}

.digitalLogo {
    height: 92px;
    width: 120px;
    padding-top: 35%;
}

.characterFace {
    /*padding-top: 50px;*/
}

#clickable {
    height: 100%;
}