#gameboard {
    column-count: 4;
    height: 1025px;
    margin: auto;
    width: 850px;
    position: relative;
}

.react-card-flip{
    height: 200px;
    width: 140px;
}

.allCards{
    height: 200px;
    width: 140px;
    margin: auto;
    padding: 6%;
}

#status {
    z-index: 1;
    position: absolute;
    height: 450px;
    width: 850px;
    display: none;
    background: no-repeat url("../images/simpsons-house.jpg");
    border-radius: 30px;
    margin: 0;
    top: 44%;
    transform: translateY(-50%);
}

#gameEndContent {
    height: 100%;
    position: relative;
}

.center {
    position: absolute;
    width: 100%;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

#playerForm {
    z-index: 1;
    padding: 25px;
}

#clickCountTotal {
    font: xx-large bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: #FED90F;
}

.btn {
    color: #FED90F;
    background: black;
    border: black;
    border-radius: 30px;
    margin-top: 5px;
    height: 20px;
}

#leaderboard {
    font: xx-large bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: #FED90F;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}